{
  "swagger": "2.0",
  "info": {
    "description": "Access LiveBy's entire suite of hyper-local data through our custom API to create or enhance your own products.",
    "version": "2.0.0",
    "title": "LiveBy Hyperlocal Content API",
    "termsOfService": "https://liveby.com/terms/"
  },
  "host": "api.liveby.com",
  "basePath": "/v2",
  "tags": [
    {
      "name": "Boundaries by ID",
      "description": "Individual GeoJSON shape."
    },
    {
      "name": "Boundaries by location",
      "description": "GeoJSON shapes that represent different types of boundaries."
    },
    {
      "name": "Local Content Datasets",
      "description": "A set of data that pertains to a specific GeoJSON boundary."
    },
    {
      "name": "Individual Content",
      "description": "Detailed data on individual items."
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/agent-insights/:pageId": {
      "get": {
        "tags": [
          "Individual Content"
        ],
        "description": "Get a list of insights that real-estate agents have submitted on a page.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "pageID": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/AgentInsight"
              }
            }
          }
        }
      }
    },
    "/schools": {
      "post": {
        "tags": [
          "Local Content Datasets"
        ],
        "description": "Get a list of schools in the boundary.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schools"
            }
          }
        }
      }
    },
    "/schools/:schoolId": {
      "get": {
        "tags": [
          "Individual Content"
        ],
        "description": "Get detailed data on an individual school.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "schoolID": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/School"
              }
            }
          }
        }
      }
    },
    "/businesses/:businessId": {
      "get": {
        "tags": [
          "Individual Content"
        ],
        "description": "Get demographic-related information on an area.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Business"
              }
            }
          }
        }
      }
    },
    "/points-of-interest": {
      "post": {
        "tags": [
          "Local Content Datasets"
        ],
        "description": "Get a list of points of interest within an area.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/PointsOfInterest"
              }
            }
          }
        }
      }
    },
    "/market-trends": {
      "post": {
        "tags": [
          "Local Content Datasets"
        ],
        "description": "Get a list of housing market-trends for an area.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/MarketTrends"
              }
            }
          }
        }
      }
    },
    "/points-of-interest/:poiId": {
      "get": {
        "tags": [
          "Individual Content"
        ],
        "description": "Get detailed data on an individual point-of-interest.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/PointOfInterest"
              }
            }
          }
        }
      }
    },
    "/events/:eventId": {
      "get": {
        "tags": [
          "Individual Content"
        ],
        "description": "Get detailed data on an individual event.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          }
        }
      }
    },
    "/events": {
      "post": {
        "tags": [
          "Local Content Datasets"
        ],
        "description": "Get a list of events in an area.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Events"
              }
            }
          }
        }
      }
    },
    "/environment": {
      "post": {
        "tags": [
          "Local Content Datasets"
        ],
        "description": "Get environmental information on an area.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Environment"
              }
            }
          }
        }
      }
    },
    "/demographics": {
      "post": {
        "tags": [
          "Local Content Datasets"
        ],
        "description": "Get demographic information on an area.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Demographics"
              }
            }
          }
        }
      }
    },
    "/crime": {
      "post": {
        "tags": [
          "Local Content Datasets"
        ],
        "description": "Get crime statistics and information on an area.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Crime"
              }
            }
          }
        }
      }
    },
    "/commute": {
      "post": {
        "tags": [
          "Local Content Datasets"
        ],
        "description": "Get commute-time and frequency information on an area.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "geometry": {
                  "$ref": "#/definitions/Geometry"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Commute"
              }
            }
          }
        }
      }
    },
    "/boundaries/:boundaryId": {
      "get": {
        "tags": [
          "Boundaries by ID"
        ],
        "description": "Returns a single boundary for the LiveBy boundary ID you provide. Boundaries at this endpoint include: school district boundaries (unified, secondary, and elementary), urban areas, zipcodes (non-census), cities, and neighborhoods.",
        "parameters": [
          {
            "name": "boundaryId",
            "in": "query",
            "description": "The LiveBy boundary ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Boundary"
              }
            }
          }
        }
      }
    },
    "/boundaries/census/zipcode-tabulation-area/:zipcode": {
      "get": {
        "tags": [
          "Boundaries by ID"
        ],
        "description": "Geographical boundaries derived from Census data.",
        "parameters": [
          {
            "name": "zipcode",
            "in": "query",
            "description": "Zipcode (5 digit)",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Feature"
              }
            }
          }
        }
      }
    },
    "/boundaries/census/:geoId": {
      "get": {
        "tags": [
          "Boundaries by ID"
        ],
        "description": "Geographical boundaries derived from Census data. Returns a single boundary that matches the GeoID you provide, with the exception of zip codes (which have a separate endpoint). Supported GeoID census boundary types: blocks, block groups, tracts, public use microdata areas, counties, states, and county subdivisions.",
        "parameters": [
          {
            "name": "geoid",
            "in": "path",
            "description": "The GEOID of the census block",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Feature"
              }
            }
          }
        }
      }
    },
    "/boundaries": {
      "get": {
        "tags": [
          "Boundaries by location"
        ],
        "description": "Non-census geographical boundaries, searchable by location (lat,lng,radius), zipcode, city, or state.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude",
            "required": false,
            "type": "integer"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius",
            "required": false,
            "type": "integer"
          },
          {
            "name": "city",
            "in": "query",
            "description": "City",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "State",
            "required": false,
            "type": "string"
          },
          {
            "name": "zipcode",
            "in": "query",
            "description": "Zip Code",
            "required": false,
            "type": "integer"
          },
          {
            "name": "boundaryTypes",
            "type": "array",
            "required": false,
            "in": "query",
            "items": {
              "type": "string",
              "enum": [
                "cities",
                "neighborhoods",
                "zipcodes",
                "urban-areas"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BoundaryCollection"
              }
            }
          }
        }
      }
    },
    "/boundaries/census/": {
      "get": {
        "tags": [
          "Boundaries by location"
        ],
        "summary": "Geographical boundaries derived from Census data.",
        "parameters": [
          {
            "name": "lat",
            "description": "Latitude",
            "type": "integer",
            "required": true,
            "in": "query"
          },
          {
            "name": "lng",
            "description": "Longitude",
            "type": "integer",
            "required": true,
            "in": "query"
          },
          {
            "name": "radius",
            "description": "Radius in meters",
            "type": "integer",
            "required": true,
            "in": "query"
          },
          {
            "name": "censusBoundaryTypes",
            "type": "array",
            "required": true,
            "in": "query",
            "items": {
              "type": "string",
              "enum": [
                "blocks",
                "block-groups",
                "tracts",
                "public-use-microdata-area",
                "zipcode-tabulation-area",
                "county-subdivision",
                "counties",
                "states"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CensusFeatureCollection"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Environment": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "integer",
          "example": 42.3601
        },
        "longitude": {
          "type": "integer",
          "example": -71.0589
        },
        "timezone": {
          "type": "string",
          "example": "America/New_York"
        },
        "hourly": {
          "type": "object",
          "properties": {
            "summary": {
              "type": "string",
              "example": "Snow (6–9 in.) and windy starting in the afternoon."
            },
            "icon": {
              "type": "string",
              "example": "snow"
            },
            "data": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "time": {
                    "type": "integer",
                    "example": 255589200
                  },
                  "summary": {
                    "type": "string",
                    "example": "Mostly Cloudy"
                  },
                  "icon": {
                    "type": "string",
                    "example": "partly-cloudy-night"
                  },
                  "precipIntensity": {
                    "type": "integer",
                    "example": 0
                  },
                  "precipProbability": {
                    "type": "integer",
                    "example": 0
                  },
                  "temperature": {
                    "type": "integer",
                    "example": 22.8
                  },
                  "apparentTemperature": {
                    "type": "integer",
                    "example": 16.46
                  },
                  "dewPoint": {
                    "type": "integer",
                    "example": 15.51
                  },
                  "humidity": {
                    "type": "integer",
                    "example": 0.73
                  },
                  "pressure": {
                    "type": "integer",
                    "example": 1026.78
                  },
                  "windSpeed": {
                    "type": "integer",
                    "example": 4.83
                  },
                  "windBearing": {
                    "type": "integer",
                    "example": 354
                  },
                  "cloudCover": {
                    "type": "integer",
                    "example": 0.78
                  },
                  "uvIndex": {
                    "type": "integer",
                    "example": 0
                  },
                  "visibility": {
                    "type": "integer",
                    "example": 9.62
                  }
                }
              }
            }
          }
        },
        "daily": {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "time": {
                    "type": "integer",
                    "example": 255589200
                  },
                  "summary": {
                    "type": "string",
                    "example": "Snow (9–14 in.) and windy starting in the afternoon."
                  },
                  "icon": {
                    "type": "string",
                    "example": "snow"
                  },
                  "sunriseTime": {
                    "type": "integer",
                    "example": 255613996
                  },
                  "sunsetTime": {
                    "type": "integer",
                    "example": 255650764
                  },
                  "moonPhase": {
                    "type": "integer",
                    "example": 0.97
                  },
                  "precipIntensity": {
                    "type": "integer",
                    "example": 0.0354
                  },
                  "precipIntensityMax": {
                    "type": "integer",
                    "example": 0.1731
                  },
                  "precipIntensityMaxTime": {
                    "type": "integer",
                    "example": 255657600
                  },
                  "precipProbability": {
                    "type": "integer",
                    "example": 1
                  },
                  "precipAccumulation": {
                    "type": "integer",
                    "example": 7.337
                  },
                  "precipType": {
                    "type": "string",
                    "example": "snow"
                  },
                  "temperatureHigh": {
                    "type": "integer",
                    "example": 31.84
                  },
                  "temperatureHighTime": {
                    "type": "integer",
                    "example": 255632400
                  },
                  "temperatureLow": {
                    "type": "integer",
                    "example": 28.63
                  },
                  "temperatureLowTime": {
                    "type": "integer",
                    "example": 255697200
                  },
                  "apparentTemperatureHigh": {
                    "type": "integer",
                    "example": 20.47
                  },
                  "apparentTemperatureHighTime": {
                    "type": "integer",
                    "example": 255625200
                  },
                  "apparentTemperatureLow": {
                    "type": "integer",
                    "example": 13.03
                  },
                  "apparentTemperatureLowTime": {
                    "type": "integer",
                    "example": 255697200
                  },
                  "dewPoint": {
                    "type": "integer",
                    "example": 24.72
                  },
                  "humidity": {
                    "type": "integer",
                    "example": 0.86
                  },
                  "pressure": {
                    "type": "integer",
                    "example": 1016.41
                  },
                  "windSpeed": {
                    "type": "integer",
                    "example": 22.93
                  },
                  "windBearing": {
                    "type": "integer",
                    "example": 56
                  },
                  "cloudCover": {
                    "type": "integer",
                    "example": 0.95
                  },
                  "uvIndex": {
                    "type": "integer",
                    "example": 1
                  },
                  "uvIndexTime": {
                    "type": "integer",
                    "example": 255621600
                  },
                  "visibility": {
                    "type": "integer",
                    "example": 4.83
                  },
                  "temperatureMin": {
                    "type": "integer",
                    "example": 22.72
                  },
                  "temperatureMinTime": {
                    "type": "integer",
                    "example": 255596400
                  },
                  "temperatureMax": {
                    "type": "integer",
                    "example": 32.04
                  },
                  "temperatureMaxTime": {
                    "type": "integer",
                    "example": 255672000
                  },
                  "apparentTemperatureMin": {
                    "type": "integer",
                    "example": 11.13
                  },
                  "apparentTemperatureMinTime": {
                    "type": "integer",
                    "example": 255650400
                  },
                  "apparentTemperatureMax": {
                    "type": "integer",
                    "example": 20.47
                  },
                  "apparentTemperatureMaxTime": {
                    "type": "integer",
                    "example": 255625200
                  }
                }
              }
            }
          }
        },
        "offset": {
          "type": "integer",
          "example": -5
        }
      }
    },
    "Schools": {
      "type": "object",
      "properties": {
        "schools": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/School"
          }
        },
        "attribution": {
          "type": "string",
          "example": "SchoolDigger"
        }
      }
    },
    "School": {
      "type": "object",
      "properties": {
        "gsId": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "example": "1r Elementary"
        },
        "type": {
          "type": "string",
          "example": "public"
        },
        "schoolLevel": {
          "type": "string",
          "example": "Elementary"
        },
        "highGrade": {
          "type": "string",
          "example": "8"
        },
        "lowGrade": {
          "type": "string",
          "example": "PK"
        },
        "schoolYearlyDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SchoolYearDetails"
          }
        },
        "gsRating": {
          "type": "string"
        },
        "parentRating": {
          "type": "string"
        },
        "district": {
          "type": "object",
          "properties": {
            "districtId": {
              "type": "string",
              "example": "3174580"
            },
            "districtName": {
              "type": "string",
              "example": "Northwest Public Schools"
            },
            "url": {
              "type": "string",
              "example": "https://www.schooldigger.com/go/NE/district/74580/search.aspx"
            },
            "rankURL": {
              "type": "string",
              "example": "https://www.schooldigger.com/go/NE/districtrank.aspx?finddistrict=74580"
            }
          }
        },
        "districtNCESId": {
          "type": "string"
        },
        "address": {
          "type": "object",
          "properties": {
            "latLong": {
              "type": "object",
              "properties": {
                "latitude": {
                  "type": "integer",
                  "example": 41.00296
                },
                "longitude": {
                  "type": "integer",
                  "example": -98.379911
                }
              }
            },
            "street": {
              "type": "string",
              "example": "3301 W One-R Road"
            },
            "city": {
              "type": "string",
              "example": "Grand Island"
            },
            "state": {
              "type": "string",
              "example": "NE"
            },
            "stateFull": {
              "type": "string",
              "example": "Nebraska"
            },
            "zip": {
              "type": "string",
              "example": "68803"
            }
          }
        },
        "phone": {
          "type": "string",
          "example": "(308) 385-6352"
        },
        "fax": {
          "type": "string",
          "example": "111-222-3333"
        },
        "url": {
          "type": "string",
          "example": "http://www.example.com"
        },
        "ncesId": {
          "type": "string"
        },
        "overviewLink": {
          "type": "string"
        },
        "ratingsLink": {
          "type": "string"
        },
        "reviewsLink": {
          "type": "string"
        },
        "distance": {
          "type": "integer"
        },
        "schoolStatsLink": {
          "type": "string"
        }
      }
    },
    "SchoolYearDetails": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "example": 2016
        },
        "numberOfStudents": {
          "type": "integer",
          "example": 171
        },
        "percentFreeDiscLunch": {
          "type": "integer",
          "example": 26.32
        },
        "percentofAfricanAmericanStudents": {
          "type": "integer",
          "example": 1.75
        },
        "percentofAsianStudents": {
          "type": "integer",
          "example": 0
        },
        "percentofHispanicStudents": {
          "type": "integer",
          "example": 7.02
        },
        "percentofIndianStudents": {
          "type": "integer",
          "example": 0.58
        },
        "percentofPacificIslanderStudents": {
          "type": "integer",
          "example": 0
        },
        "percentofWhiteStudents": {
          "type": "integer",
          "example": 90.64
        },
        "percentofTwoOrMoreRaceStudents": {
          "type": "integer",
          "example": 0
        },
        "percentofUnspecifiedRaceStudents": {
          "type": "integer",
          "example": null
        },
        "teachersFulltime": {
          "type": "integer",
          "example": 13
        },
        "pupilTeacherRatio": {
          "type": "integer",
          "example": 13.1
        },
        "numberofAfricanAmericanStudents": {
          "type": "integer",
          "example": 3
        },
        "numberofAsianStudents": {
          "type": "integer",
          "example": 0
        },
        "numberofHispanicStudents": {
          "type": "integer",
          "example": 12
        },
        "numberofIndianStudents": {
          "type": "integer",
          "example": 1
        },
        "numberofPacificIslanderStudents": {
          "type": "integer",
          "example": 0
        },
        "numberofWhiteStudents": {
          "type": "integer",
          "example": 155
        },
        "numberofTwoOrMoreRaceStudents": {
          "type": "integer",
          "example": 0
        },
        "numberofUnspecifiedRaceStudents": {
          "type": "integer",
          "example": null
        }
      }
    },
    "MarketTrends": {
      "type": "object",
      "properties": {
        "PropertyAreaInfo": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string"
            },
            "avgBedrooms": {
              "type": "number"
            },
            "avgBathrooms": {
              "type": "number"
            },
            "avgSquareFeet": {
              "type": "number"
            },
            "minPrice": {
              "type": "integer"
            },
            "maxPrice": {
              "type": "integer"
            },
            "count": {
              "type": "integer"
            }
          }
        },
        "Housing": {
          "type": "object",
          "properties": {
            "properties": {
              "type": "object",
              "properties": {
                "housing": {
                  "type": "object",
                  "properties": {
                    "median_home_construction": {
                      "type": "integer"
                    },
                    "median_rent": {
                      "type": "integer"
                    },
                    "home_occupied_percent": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "renter_occupied": {
                      "type": "integer"
                    },
                    "owner_occupied": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "DOM": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "example": 20
            },
            "monthly": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "Nov"
                  },
                  "value": {
                    "type": "integer",
                    "example": 7
                  }
                }
              }
            }
          }
        },
        "ExpectToPay": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string",
              "example": "100%"
            },
            "monthly": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "Nov"
                  },
                  "value": {
                    "type": "string",
                    "example": "102%"
                  }
                }
              }
            }
          }
        },
        "YearBuilt": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "example": 1946
            },
            "monthly": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "Nov"
                  },
                  "value": {
                    "type": "integer",
                    "example": 1950
                  }
                }
              }
            }
          }
        },
        "PPSF": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "example": 136
            },
            "monthly": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "Nov"
                  },
                  "value": {
                    "type": "integer",
                    "example": 154
                  }
                }
              }
            }
          }
        },
        "SalePrice": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "example": 154265
            },
            "monthly": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "Nov"
                  },
                  "value": {
                    "type": "integer",
                    "example": 162660
                  }
                }
              }
            }
          }
        },
        "AmountOfSales": {
          "type": "object",
          "properties": {
            "value": {
              "type": "integer",
              "example": 59
            },
            "monthly": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "Nov"
                  },
                  "value": {
                    "type": "integer",
                    "example": 10
                  }
                }
              }
            }
          }
        }
      }
    },
    "AgentInsight": {
      "type": "object",
      "properties": {
        "insights": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "fname": {
                "type": "string",
                "example": "Susan"
              },
              "lname": {
                "type": "string",
                "example": "Kirkpatrick"
              },
              "brokerage": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": [
                    "liveby",
                    "homerealestate"
                  ]
                }
              },
              "brokerageName": {
                "type": "string",
                "example": "HOME Real Estate"
              },
              "website": {
                "type": "string",
                "example": "http://www.susankirkpatrick.homerealestate.com/"
              },
              "photo": {
                "type": "string",
                "example": "https://content.mediastg.net/dynamic/RealEstate/company/375/account/347911/photo.jpg"
              },
              "neighborhood": {
                "type": "string",
                "example": "593979d6da3374b282bb7ba7"
              },
              "label": {
                "type": "string",
                "example": "40th & A"
              },
              "text": {
                "type": "string",
                "example": "This is a neighborhood of well maintained homes.  The homes are modest.  However, there is evident pride in their ownerships. \nThey are very close to a local grocery store, within walking distance.  And a large park is less than a mile away with indoor and outdoor tennis and a very nice swimming pool"
              }
            }
          }
        }
      }
    },
    "Landmark": {
      "type": "object"
    },
    "Business": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Ramos Pizza & Busters BBQ"
        },
        "id": {
          "type": "string",
          "example": "uz5tKFz6R9uCrh2sg7Dq0g",
          "description": "Yelp ID"
        },
        "url": {
          "type": "string",
          "example": "https://www.yelp.com/biz/ramos-pizza-and-busters-bbq-lincoln?adjust_creative=0FffVFMfitTHrXGgc5LO_w&utm_campaign=yelp_api_v3&utm_medium=api_v3_graphql&utm_source=0FffVFMfitTHrXGgc5LO_w"
        },
        "review_count": {
          "type": "integer",
          "example": 39
        },
        "rating": {
          "type": "integer",
          "example": 3
        },
        "photos": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "https://s3-media4.fl.yelpcdn.com/bphoto/GtAAnGjPfC3RxPMnSTAiBg/o.jpg"
          }
        },
        "coordinates": {
          "type": "object",
          "properties": {
            "latitude": {
              "type": "number",
              "example": 40.7876
            },
            "longitude": {
              "type": "number",
              "example": -96.6544399
            }
          }
        }
      }
    },
    "PointOfInterest": {
      "allOf": [
        {
          "$ref": "#/definitions/Landmark"
        },
        {
          "$ref": "#/definitions/Business"
        }
      ]
    },
    "PointsOfInterest": {
      "type": "object",
      "description": "Sets of points of interest like local businesses, landmarks, or local parks.",
      "properties": {
        "attribution": {
          "type": "array",
          "items": {
            "example": [
              "Yelp",
              "Google Places"
            ]
          }
        },
        "pointsOfInterest": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PointOfInterest"
          }
        }
      }
    },
    "Event": {
      "type": "object",
      "properties": {
        "name": {
          "type": "object",
          "properties": {
            "text": {
              "type": "string",
              "example": "CAPM Classroom Training in Lincoln, NE"
            },
            "html": {
              "type": "string",
              "example": "CAPM Classroom Training<br>in Lincoln, NE"
            }
          }
        },
        "description": {
          "type": "object",
          "properties": {
            "text": {
              "type": "string",
              "example": "iCert Global is the one of the leading authorized professional certification training provider all over the globe. The CAPM certification offers recognition to practitioners who are starting a career in project management as well as project team members who wish to demonstrate their project management knowledge.  We are registered partner with Project Management Institute, scrum Alliance, IASSC, ASQ and AXELOS to provide customized pre exam professional training and coaching classes.\n iCert Global 4 day CAPM Exam Prep Boot Camp training package includes \n\n4Day Classroom Training\n23 Contact Hours (23 PDUs)\nStudy Guide to the PMBOK Guide, 6th Edition\nHigh Quality e-Learning Content   180 days free access (worth $199)\n2 CAPM Simulation Tests\nCAPM Exam Tips, Techniques and Mock test\n100% Money Back Guarantee\nInteractive Case Studies & Chapter-wise Exam Tips\n\n  Visit iCertGlobal-CAMPTraining for any queries or future Certified Associate in Project Management workshop dates. Please contact us john.miller@icertglobal.org or call us at 713-518-1852.   Other Training Courses 1. Project Management Professional (PMI-PMP Training) 2. Lean Six Sigma Green Belt (LSSGB Training) 3. ITIL Foundation (Information Technology Infrastructure Library) 4. PMI- ACP (Agile Certified Practitioner) 5. CBAP (Certified Business Analysis Professional) 6. CCBA (Certification of Capability in Business Analysis) 7. Agile & Scrum 8. CSM (Certified Scrum Master) 9. CEH (Certified Ethical Hacker) 10. Prince2 \nSpecial offer for corporate, group and individual references so please contact us for more details   Use Promo Code – ICERT20 to avail 20% of discount on all our above training courses \nOnce you register with us, we will enable the access to our e-learning and exam simulators post successful registration.\nLooking  forward for your registration with us.  Contact Us : iCert Global LLC E-mail: john.miller@icertglobal.org Website: www.icertglobal.com Call Us Now: +1 (713)-518-1852"
            },
            "html": {
              "type": "string",
              "example": "<P CLASS=\"MsoNormal\"><SPAN><STRONG>iCert Global</STRONG> is the one of the leading authorized professional certification training provider all over the globe. <BR>The <STRONG>CAPM</STRONG></SPAN><STRONG> </STRONG>certification offers recognition to practitioners who are starting a career in project management<BR> as well as project team members who wish to demonstrate their project management knowledge.<BR> <BR> We are registered partner with <STRONG>Project Management Institute, scrum Alliance, IASSC, ASQ and AXELOS</STRONG><BR> to provide customized pre exam professional training and coaching classes.</P>\n<P CLASS=\"MsoNormal\"><SPAN><BR> </SPAN><EM><SPAN><STRONG>iCert Global 4 day CAPM Exam Prep Boot Camp training package includes </STRONG></SPAN></EM><SPAN></SPAN></P>\n<UL>\n<LI CLASS=\"MsoNormal\"><SPAN>4Day Classroom Training</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>23 Contact Hours (23 PDUs)</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>Study Guide to the PMBOK Guide, 6th Edition</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>High Quality e-Learning Content   180 days free access (worth $199)</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>2 CAPM Simulation Tests</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>CAPM Exam Tips, Techniques and Mock test</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>100% Money Back Guarantee</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>Interactive Case Studies &amp; Chapter-wise Exam Tips</SPAN></LI>\n</UL>\n<H3><BR> <BR> Visit <SPAN><A HREF=\"http://bit.ly/2qO6jtZ\" TARGET=\"_blank\" REL=\"noreferrer noopener nofollow noopener noreferrer nofollow\"><SPAN>iCertGlobal-CAMPTraining</SPAN></A></SPAN> for any queries or future Certified Associate in Project Management workshop dates. Ple<STRONG>ase contact us</STRONG> <SPAN><A HREF=\"mailto:john.miller@icertglobal.org\" TARGET=\"_blank\" REL=\"noreferrer noopener nofollow noopener noreferrer nofollow\"><SPAN>john.miller@icertglobal.org</SPAN></A></SPAN> or call us at <SPAN>713-518-1852</SPAN>.<BR> <BR> <BR> <SPAN><STRONG>Other Training Courses</STRONG></SPAN><BR> 1. Project Management Professional (PMI-PMP Training)<BR> 2. Lean Six S<STRONG>igma Green Belt (LSSGB Training)</STRONG><BR><STRONG> 3. ITIL Foundation (Information Technology Infrastructure Library)</STRONG><BR><STRONG> 4. PMI- ACP (Agile</STRONG> Certified Practitioner)<BR> 5. CBAP (Certified Business Analysis Professional)<BR> 6. CCBA (Certification of Capability in Business Analysis)<BR> 7. Agile &amp; Scrum<BR> 8. CSM (Certified Scrum Master)<BR> 9. CEH (Certified Ethical Hacker)<BR> 10. Prince2<BR> <BR></H3>\n<P CLASS=\"MsoNormal\"><SPAN><SPAN>Special offer for corporate, group and individual references so please contact us for more details </SPAN></SPAN><SPAN><SPAN><BR> </SPAN></SPAN><SPAN><SPAN><BR> </SPAN></SPAN><SPAN><STRONG>Use Promo Code – ICERT20 to avail 20% of discount on all our above training courses </STRONG></SPAN></P>\n<P CLASS=\"MsoNormal\"><SPAN>Once you register with us, we will enable the access to our e-learning and exam simulators post successful registration.</SPAN></P>\n<P CLASS=\"MsoNormal\"><SPAN>Looking  forward for your registration with us.<BR> <BR> Contact Us : iCert Global LLC<BR> E-mail: </SPAN><SPAN><SPAN><A HREF=\"mailto:john.miller@icertglobal.org\" TARGET=\"_blank\" REL=\"noreferrer noopener nofollow noopener noreferrer nofollow\"><SPAN>john.miller@icertglobal.org</SPAN></A></SPAN></SPAN><SPAN><BR> Website: <A HREF=\"http://bit.ly/2tei5Cw\" TARGET=\"_blank\" REL=\"noreferrer noopener nofollow noopener noreferrer nofollow\"><SPAN>www.icertglobal.com</SPAN></A><BR> Call Us Now: +1 (713)-518-1852</SPAN></P>"
            }
          }
        },
        "id": {
          "type": "string",
          "example": "45535307330"
        },
        "url": {
          "type": "string",
          "example": "https://www.eventbrite.com/e/capm-classroom-training-in-lincoln-ne-tickets-45535307330?aff=ebapi"
        },
        "start": {
          "type": "object",
          "properties": {
            "timezone": {
              "type": "string",
              "example": "America/Chicago"
            },
            "local": {
              "type": "string",
              "example": "2018-05-29T09:00:00"
            },
            "utc": {
              "type": "string",
              "example": "2018-05-29T14:00:00Z"
            }
          }
        },
        "end": {
          "type": "object",
          "properties": {
            "timezone": {
              "type": "string",
              "example": "America/Chicago"
            },
            "local": {
              "type": "string",
              "example": "2018-06-01T17:00:00"
            },
            "utc": {
              "type": "string",
              "example": "2018-06-01T22:00:00Z"
            }
          }
        },
        "organization_id": {
          "type": "string",
          "example": "248869490598"
        },
        "created": {
          "type": "string",
          "example": "2018-04-25T21:28:54Z"
        },
        "changed": {
          "type": "string",
          "example": "2018-05-09T20:10:32Z"
        },
        "capacity": {
          "type": "integer",
          "example": 5
        },
        "capacity_is_custom": {
          "type": "boolean",
          "example": true
        },
        "status": {
          "type": "string",
          "example": "live"
        },
        "currency": {
          "type": "string",
          "example": "USD"
        },
        "listed": {
          "type": "boolean",
          "example": true
        },
        "shareable": {
          "type": "boolean",
          "example": true
        },
        "online_event": {
          "type": "boolean",
          "example": false
        },
        "tx_time_limit": {
          "type": "integer",
          "example": 480
        },
        "hide_start_date": {
          "type": "boolean",
          "example": false
        },
        "hide_end_date": {
          "type": "boolean",
          "example": false
        },
        "locale": {
          "type": "string",
          "example": "en_US"
        },
        "is_locked": {
          "type": "boolean",
          "example": false
        },
        "privacy_setting": {
          "type": "string",
          "example": "unlocked"
        },
        "is_series": {
          "type": "boolean",
          "example": true
        },
        "is_series_parent": {
          "type": "boolean",
          "example": false
        },
        "is_reserved_seating": {
          "type": "boolean",
          "example": false
        },
        "show_pick_a_seat": {
          "type": "boolean",
          "example": false
        },
        "show_seatmap_thumbnail": {
          "type": "boolean",
          "example": false
        },
        "show_colors_in_seatmap_thumbnail": {
          "type": "boolean",
          "example": false
        },
        "source": {
          "type": "string",
          "example": "create_2.0"
        },
        "is_free": {
          "type": "boolean",
          "example": false
        },
        "version": {
          "type": "string",
          "example": "3.0.0"
        },
        "logo_id": {
          "type": "string",
          "example": "44041719",
          "description": "Eventbrite ID"
        },
        "organizer_id": {
          "type": "string",
          "example": "17078383662",
          "description": "Eventbrite ID"
        },
        "venue_id": {
          "type": "string",
          "example": "24182114",
          "description": "Eventbrite ID"
        },
        "category_id": {
          "type": "string",
          "example": "101",
          "description": "Eventbrite ID"
        },
        "subcategory_id": {
          "type": "string",
          "example": null,
          "description": "Eventbrite ID"
        },
        "format_id": {
          "type": "string",
          "example": "9",
          "description": "Eventbrite ID"
        },
        "resource_uri": {
          "type": "string",
          "example": "https://www.eventbriteapi.com/v3/events/45535307330/"
        },
        "series_id": {
          "type": "string",
          "example": "45534761698",
          "description": "Eventbrite ID"
        },
        "logo": {
          "type": "object",
          "properties": {
            "crop_mask": {
              "type": "object",
              "properties": {
                "top_left": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "integer",
                      "example": 41
                    },
                    "y": {
                      "type": "integer",
                      "example": 0
                    }
                  }
                },
                "width": {
                  "type": "integer",
                  "example": 680
                },
                "height": {
                  "type": "integer",
                  "example": 340
                }
              }
            },
            "original": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "example": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F44041719%2F248869490598%2F1%2Foriginal.jpg?auto=compress&s=9500be43b2c3597ffd07afd973079a7f"
                },
                "width": {
                  "type": "integer",
                  "example": 763
                },
                "height": {
                  "type": "integer",
                  "example": 340
                }
              }
            },
            "id": {
              "type": "string",
              "example": 44041719
            },
            "url": {
              "type": "string",
              "example": "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F44041719%2F248869490598%2F1%2Foriginal.jpg?h=200&w=450&auto=compress&rect=41%2C0%2C680%2C340&s=a3486bc830b3638bfa8a7b3d954e52a6"
            },
            "aspect_ratio": {
              "type": "string",
              "example": "2"
            },
            "edge_color": {
              "type": "string",
              "example": "#3480af"
            },
            "edge_color_set": {
              "type": "boolean",
              "example": true
            }
          }
        }
      }
    },
    "Events": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Event"
          }
        }
      }
    },
    "Demographics": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "properties": {
            "demographics": {
              "type": "object",
              "properties": {
                "population": {
                  "type": "integer"
                },
                "median_age": {
                  "type": "number"
                },
                "ages": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "ages_percent": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                },
                "median_household_income": {
                  "type": "number"
                },
                "unemployment_rate": {
                  "type": "null"
                },
                "diversity": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "asian": {
                      "type": "integer"
                    },
                    "african_american": {
                      "type": "integer"
                    },
                    "hispanic": {
                      "type": "integer"
                    },
                    "multiracial": {
                      "type": "integer"
                    },
                    "native_american": {
                      "type": "integer"
                    },
                    "other": {
                      "type": "integer"
                    },
                    "pacific_islander": {
                      "type": "integer"
                    },
                    "white": {
                      "type": "integer"
                    }
                  }
                },
                "diversity_percent": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                },
                "total_educated": {
                  "type": "integer"
                },
                "below_high_school_education": {
                  "type": "integer"
                },
                "high_school_education": {
                  "type": "integer"
                },
                "college_associate_degree": {
                  "type": "integer"
                },
                "college_bachelor_degree": {
                  "type": "integer"
                },
                "college_graduate_professional_degree": {
                  "type": "integer"
                },
                "education_levels_percent": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "ageGroups": {
          "type": "integer"
        },
        "disability": {
          "type": "integer"
        },
        "educationalAttainment": {
          "type": "integer"
        },
        "fieldOfDegree": {
          "type": "integer"
        },
        "foreignBorn": {
          "type": "integer"
        },
        "incomeEarnings": {
          "type": "integer"
        },
        "industry": {
          "type": "integer"
        },
        "language": {
          "type": "integer"
        },
        "maritalStatus": {
          "type": "integer"
        },
        "nativeBorn": {
          "type": "integer"
        },
        "occupation": {
          "type": "integer"
        },
        "occupationBenefits": {
          "type": "integer"
        },
        "placeOfBirth": {
          "type": "integer"
        },
        "placeOfWork": {
          "type": "integer"
        },
        "populationCount": {
          "type": "integer"
        },
        "populationDensity": {
          "type": "integer"
        },
        "raceEthnicOrigin": {
          "type": "integer"
        },
        "schoolEnrollment": {
          "type": "integer"
        },
        "sentimentAnalysis": {
          "type": "integer"
        },
        "veteranStatus": {
          "type": "integer"
        },
        "workStatus": {
          "type": "integer"
        },
        "attribution": {
          "type": "string",
          "example": "Census Bureau"
        }
      }
    },
    "Crime": {
      "type": "object",
      "description": "Crime data on a boundary.",
      "properties": {
        "aggravatedAssault": {
          "type": "integer"
        },
        "burglary": {
          "type": "integer"
        },
        "crimeLocationPointData": {
          "type": "integer"
        },
        "larcenyTheft": {
          "type": "integer"
        },
        "motorVehicleTheft": {
          "type": "integer"
        },
        "murderNonNegligentManslaughter": {
          "type": "integer"
        },
        "rape": {
          "type": "integer"
        },
        "robbery": {
          "type": "integer"
        },
        "attribution": {
          "type": "string",
          "example": "Census Bureau"
        }
      }
    },
    "Commute": {
      "type": "object",
      "description": "Commute data on a boundary",
      "properties": {
        "bikeScore": {
          "type": "integer"
        },
        "bikeRunningTrails": {
          "type": "string"
        },
        "transportationMethods": {
          "type": "string"
        },
        "workFromHomePercent": {
          "type": "integer"
        },
        "publicTransitRoutes": {
          "type": "string"
        },
        "publicTransitSchedules": {
          "type": "string"
        },
        "publicTransitScore": {
          "type": "integer"
        },
        "travelTimeToWork": {
          "type": "integer"
        },
        "timeLeavingForWork": {
          "type": "string"
        },
        "vehiclesAvailable": {
          "type": "integer"
        },
        "attribution": {
          "type": "string",
          "example": "Census Bureau"
        }
      }
    },
    "Boundary": {
      "type": "object",
      "description": "GeoJSON geometry",
      "properties": {
        "type": {
          "type": "string",
          "example": "Feature"
        },
        "geometry": {
          "$ref": "#/definitions/Geometry"
        },
        "properties": {
          "type": "object",
          "properties": {
            "label": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "enum": [
                "zipcode",
                "county",
                "countysub",
                "schooldistrict",
                "neighborhood",
                "community"
              ],
              "example": "type"
            },
            "attribution": {
              "type": "string",
              "example": "Census Bureau"
            }
          }
        }
      }
    },
    "BoundaryCollection": {
      "type": "object",
      "description": "A GeoJSON feature collection",
      "properties": {
        "type": {
          "type": "string",
          "example": {
            "$ref": "#/definitions/FeatureCollection"
          }
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Boundary"
          }
        },
        "properties": {
          "type": "object"
        }
      }
    },
    "CensusFeatureCollection": {
      "type": "object",
      "description": "A GeoJSON feature collection",
      "properties": {
        "type": {
          "type": "string",
          "example": "FeatureCollection"
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Feature"
          }
        },
        "properties": {
          "type": "object",
          "example": {
            "attribution": "Census Bureau"
          }
        }
      }
    },
    "FeatureCollection": {
      "type": "object",
      "description": "A GeoJSON feature collection",
      "properties": {
        "type": {
          "type": "string",
          "example": "FeatureCollection"
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Feature"
          }
        },
        "properties": {
          "type": "object"
        }
      }
    },
    "Feature": {
      "type": "object",
      "description": "GeoJSON feature containing geometry and properties",
      "properties": {
        "type": {
          "type": "string",
          "example": "Feature",
          "description": "the GeoJSON feature type"
        },
        "geometry": {
          "$ref": "#/definitions/Geometry"
        },
        "properties": {
          "type": "object"
        }
      }
    },
    "Geometry": {
      "type": "object",
      "description": "GeoJSON geometry",
      "discriminator": "type",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Polygon",
            "MultiPolygon"
          ],
          "description": "the geometry type"
        },
        "coordinates": {
          "type": "array",
          "items": {
            "enum": [
              {
                "$ref": "#/definitions/Polygon"
              },
              {
                "$ref": "#/definitions/MultiPolygon"
              }
            ]
          }
        }
      }
    },
    "Polygon": {
      "type": "array",
      "description": "GeoJSON geometry",
      "items": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Point2D"
        }
      }
    },
    "MultiPolygon": {
      "type": "array",
      "description": "GeoJSON geometry",
      "items": {
        "type": "array",
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Point2D"
          }
        }
      }
    },
    "Point2D": {
      "type": "array",
      "maxItems": 2,
      "minItems": 2,
      "items": {
        "type": "number"
      }
    }
  }
}